

.alignc {
    text-align: center;
  }
  
  .abouttext {
    margin-top: 10vh;
    margin-left: 50px;
    font-family: Arial;
    font-weight: 500;
  }

  hr{
    position: relative;
    border-top: 1px solid lightgrey;
    width: 95%;
    left: 2.5vw;
    margin-top: 8vh;
  }