<h1 class="alignc">About Page, fix routing later</h1>
/* delete this */

<div>
  <div class="alignc">
    <h1>Ways you can help!</h1>
    <p>
      Every little bit helps! It takes a lot to run a caring facility like Page
      Animal Adoption Agency<br />
      and we’re always grateful for donations like kitty litter and cleaning
      supplies, but daily operations are costly.
    </p>
  </div>

  <div class="abouttext">
    <h2>Donate</h2>
    <div>
      <p>
        Make your donation today to help us cover the day-<br />to-day operation
        at the PAA by on the “Donate” button.<br />
        We’re so grateful our tails are wagging!
      </p>
    </div>

    <h2>Amazon Smile</h2>
    <div>
      <p>
        AmazonSmile is a website operated by Amazon with<br />
        the same products, prices, and shopping features as<br />
        Amazon.com. The difference is that when you shop<br />
        on AmazonSmile, the AmazonSmile Foundation<br />
        will donate 0.5% of the purchase price of eligible products to PAAA!
      </p>
    </div>

    <h2>Read Text Below</h2>
    <div>
      <p>
        Insert cute pictures next to this and fix some stuff, more placeholder
        text blalalalaa, also add volounteer page, maybe even change button on
        welcome screen to volounteer / adopt
      </p>
    </div>
  </div>
</div>
