<!DOCTYPE html>
<html>
<title>Dogshop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Karma", sans-serif
    }
</style>

<body>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

        <!-- First Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center" id="dogs">
            <h2>Available dog breeds</h2>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/1._DSC_0346_%2810096362833%29.jpg" alt="German Shepherd">
                <h3>German Shepherd</h3>
                <p>The German Shepherd is a breed of medium to large-sized working dog that originated in Germany.
                    Strength, intelligence, trainability, and obedience some of its traits.
                </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Golden_Retriever_Carlos_%2810581910556%29.jpg/1280px-Golden_Retriever_Carlos_%2810581910556%29.jpg" alt="Golden Retriever">
                <h3>Golden Retriever</h3>
                <p>The Golden Retriever is a medium-large gun dog that was bred to retrieve shot waterfowl.app-dogshop
                    Golden retrievers have an instinctive love of water, and are easy to train to basic or advanced
                    obedience standards.
                </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Jean_Dark_Sn%C3%B6_of_Sweden.jpg/1280px-Jean_Dark_Sn%C3%B6_of_Sweden.jpg" alt="Dobermann">
                <h3>Dobermann</h3>
                <p>The Dobermann is a medium-large breed of domestic dog, Dobermanns are known to be intelligent, alert,
                    and tenaciously loyal companions and guard dogs. </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Rottweiler_standing_facing_left.jpg" alt="Rottweiler">
                <h3>Rottweiler</h3>
                <p>The Rottweiler is a breed of domestic dog, regarded as medium-to-large or large. The Rottweiler is
                    good-natured, placid in basic disposition, very devoted, obedient, biddable and eager to work.</p>
            </div>
        </div>

        <!-- Second Photo Grid-->
        <div class="w3-row-padding w3-padding-16 w3-center">
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/WelshCorgi.jpeg/330px-WelshCorgi.jpeg" alt="Welsh Corgi" >
                <h3>Welsh Corgi</h3>
                <p>The Welsh Corgi is a small type of herding dog that originated in Wales, United Kingdom.Corgis in the modern era often compete in dog agility trials, obedience, showmanship, flyball, tracking, and herding events. </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/BORDER_COLLIE%2C_Simaro_Million_Dollar_Baby_%2824290879465%29_2.jpg" alt="Border Collie">
                <h3>Border Collie</h3>
                <p>The Border Collie is a working and herding dog breed developed in the Scottish borders for herding livestock, especially sheep.
                    Considered highly intelligent, extremely energetic, acrobatic and athletic, they frequently compete with great success in sheepdog trials and dog sports.
                </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/ChowChow2Szczecin.jpg/1280px-ChowChow2Szczecin.jpg" alt="Chow Chow">
                <h3>Chow Chow</h3>
                <p>Most commonly kept as pets, Chow-Chows tend to display discernment of strangers and can become fiercely protective of their owners and property.
                    Chow-Chow are not excessively active, meaning that they can be housed in an apartment.
                </p>
            </div>
            <div class="w3-quarter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Great_dane.jpg" alt="Great Dane">
                <h3>Great Dane</h3>
                <p>The Great Dane is a German breed of domestic dog known for its large size.
                    The Great Dane's large and imposing appearance belies its friendly nature. They are known for seeking physical affection with their owners, and the breed is often referred to as a "gentle giant".
                </p>
            </div>
            <h2>If you're interested in any breed or have any questions please contact us!</h2>
        </div>

    </div>
</body>

</html>