<!-- Default form subscription -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Subscribe to our newsletter!</p>
  
    <p>Join our mailing list to get the latest news and updates from us.</p>
  
  
    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">
  
    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" type="submit">Sign up</button>
  
  
  </form>
