.center {
    display: block;
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
  .divcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .alignc {
    text-align: center;
    margin-top: 20px;
  }
  
  .topdiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
  * {
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  .getstartedbtn {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin-top: 2px;
    border: none;
    width: 50%;
    font-size: 20px;
  }

  hr{
    position: relative;
    border-top: 1px solid lightgrey;
    width: 95%;
    left: 2.5vw;
    margin-top: 8vh;
  }